@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-top: 24px;
}

.heading {
  font-size: 35px;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
  margin-top: 56px;
  text-align: left;
}
